
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container ">
        <nav class="row navbar navbar-expand bg-info w-100">
            <ul class="nav navbar-nav navbar-right">
                <li><h1 class="lead text-white">Roomax</h1></li>
                <li><a href="@Url.Action("Index", "Home")" class="col-2 text-white">Accueil</a></li>
                <li><a href="@Url.RouteUrl("AboutRoute")" class="col-2 text-white">A propos</a></li>
            </ul>
        </nav>
    </div> 
    <div class="container">
        <h1>Accueil</h1>
        
    </div>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
